<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.mappers.cartMapper">
	<!-- 장바구니 개별 상품 삭제 -->
    <delete id="delete">
        delete from cart where cart_id=#{cart_id}
    </delete>
    
    <insert id="AddCart">
    	INSERT INTO jfactory_cart values(DEFAULT,#{mem_id},#{pd_name},#{pd_amount},DEFAULT)
    </insert>
	
	<select id="CartList" resultType="CartDTO">
		SELECT * FROM jfactory_cart WHERE mem_id='abcd'
	</select>
</mapper>