<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.mappers.testMapper">
	<select id="MemberList" resultType="MemberDTO">
		SELECT * FROM jfactory_member
	</select>
	
	<select id="AdminList" resultType="AdminDTO">
		SELECT * FROM jfactory_member where mem_is_admin=1 or mem_is_admin=2
	</select>
	
	<select id="QnaList" resultType="MemberqnaDTO">
		SELECT * FROM jfactory_qna ORDER BY qna_pin DESC, qna_datetime DESC
	</select>
	
	<insert id="Join" parameterType="MemberDTO">
		INSERT INTO jfactory_member values(#{mem_id},#{mem_email},#{mem_password},#{mem_realname},0,0,#{mem_phone},#{mem_phone1},#{mem_phone2},#{mem_birth_year},#{mem_birth_month},#{mem_birth_day},#{mem_zipcode},#{mem_address1},#{mem_address2},0,0,0,DEFAULT,0,null,null,null,null,0,0,0)
	</insert>
	
	<select id="Login" resultType="MemberDTO">
		SELECT mem_id, mem_password FROM jfactory_member where mem_id=#{mem_id} AND mem_password = {mem_password}
	</select>
	
	<insert id="QnaWrite" parameterType="MemberqnaDTO">
		INSERT INTO jfactory_qna values(#{mem_id},#{qna_title},#{qna_content},null,null,DEFAULT,null,null,#{qna_category},0)
	</insert>
</mapper>

